body { 
  font-size:14px;
  line-height:1.43;
  color:#222;
  background-color:#fff;
  margin:0;
}

.searchContainer {
    display: grid;
    grid-template-columns: minmax(0,1fr) 40px;
    padding: 14px 24px 0;
    column-gap: 10px;
}

.searchWrapper P{ 
  width: 312px;
height: 54px;
}

.searchButton {
  display: inline-grid;
grid-template-columns: 52px 252px;
width: 288px;
height: 54px;
align-items: center;
border: 1px solid #22222215;
border-top-right-radius: 1000px;
border-top-left-radius: 1000px;
border-bottom-right-radius: 1000px;
border-bottom-left-radius: 1000px;
background-color: #fff;
box-shadow: 0 3px 10px rgba(0 0 0/0.1);
padding: 0;
}

.searchIcon {
  display: grid;
  width: 52px; 
  height: 20px;
  place-items: center;
}

.searchTextContainer { 
  display: inline-block;
  height: 36px; 
  width: 236px;
  text-align: start;
}

.searchTextTop {
  width: 236px;
  height; 20px;
}

 .searchBottomTextContainer {
  display: flex;
  column-gap: 5px;
  padding-right: 24px;
  height: 16px;
}

.searchTextBottom {
  font-size: 12px;
color: #717171;
line-height: 16px;
}

.filterWrapper {
  display: flex;
  align-items: center;
  height: 40px
  width: 40px;
}

.filterButton {
  display: inline-flex;
  background-color: transparent;
  border-radius: 50%;
  opacity: 1;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

/* nav bar */

.navBar {
  display: grid;
  grid-auto-flow: column;
  width: 100%
  height: 74px;
}

.navButtons {
  display: flex;
  flex-direction: column; 
  align-items: center;
  border: none;
  background-color: #fff;
  margin: 12px 0 10px;
  padding: 4px 0;
  color: #717171;

}

.navIcons {
  height: 24px;
  width: 24px;
  opacity: 0.7;
  
}

.navText {
  color: #717171;
  align-self: center;
  height: 16px;
  width: 84px; 
  white-space: nowrap;
}

/* main content */

.mainSection {

}

.mainContainer {
width: 100%;
padding: 0 24px;
margin: 24px 0 32px 0;
height: auto;
}

.mainWrapper {
width: 100%;
height: auto
margin-bottom: 40px;
}

.mainContentImageWrapper {

}

.mainContentImages { 
  max-width: 350px;
;
}

.footerHeaderContainer { 
  display: flex;
  justify-content: center
  height: 48px;
}
.footerTextBox { 
    text-align: center;
}

.footerTextContainer {
 width: 100%
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

.footerTextWrapper { 

 background-color: #f7f7f7;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 48px;

}

.footerTextBox {
width: 193.5px;
height: 18px;
}

.footerContainer {
  display: flex !important;
  align-items: center !important;
  border-top: 1px solid rgb(235, 235, 235) !important;
  position: fixed !important;
  bottom: -60px !important;
  height: 64px !important;
  left: 0px !important;
  right: 0px !important;
  padding-bottom: 60px !important;
  contain: paint !important;
  background: rgb(255, 255, 255) !important;
}

.footerWrapper {
  flex: 1 0 auto !important;
  align-items: flex-start !important;
  display: flex !important;
  justify-content: center !important;
  margin: 0px auto !important;
  max-width: 560px !important;
}

.footerButton {
    width: 82px;
    height: 44px;
    background-color: #fff;
    border: none
}

.footerButton svg {
  margin: 0 auto;
  line-height: 20px;
  margin-bottom: 5px;
  opacity: 0.7;
}

.footerButton p  {
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  opacity: 0.7;
}