body { 
  font-size:14px;
  line-height:1.43;
  color:#222;
  background-color:#fff;
  margin:0;
}

.searchContainer {
    display: grid;
    grid-template-columns: 314px 40px;
    padding: 14px 24px 0;
    column-gap: 10px;
}

.searchWrapper P{ 
  width: 312px;
height: 54px;
}

.searchButton {
  display: flex;
align-items: center;
text-align: start;
grid-template-columns: 52px 252px;
width: 312px;
height: 54px;
border: 1px solid #22222215;
border-top-right-radius: 1000px;
border-top-left-radius: 1000px;
border-bottom-right-radius: 1000px;
border-bottom-left-radius: 1000px;
background-color: #fff;
box-shadow: 0 3px 10px rgba(0 0 0/0.1);
padding: 0;
}

.searchIcon {
  width: 52px;
  height: 20px;
  size:30%;
}

.searchButtonTextTop {
  width: 226px;
  height; 20px;
}

 .searchButtonBottomTextContainer {
  display: flex;
  column-gap: 5px;
  padding-right: 24px;
  height: 16px;
}

.searchButtonTextBottom {
  font-size: 12px;
color: #717171;
line-height: 16px;
}

.filterButton {
  display: inline-flex;
  float:none;
  border-color: darkgray;
  border: 1px solid;
  background-color: transparent;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}
